/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/*--------- My css-------- */

.Appfirst{
  text-align: center;
  
  /* display: flex; */
}
#signInDiv{
  position: absolute;
  left: 42%;
}

#heading{
   color: #609f9f;
   font-weight: bold;
   font-size: 2.2rem;
}

.chart_heading{
  color: #609f9f;
  font-weight: bold;
  font-size: 2.2rem;
}

#btn{
  width: 100%;
}
#signOut{
  text-align: right;
  padding: 12px 20px;
  border-radius: 5px;
  color:white;
  background-color: black;
  margin-left: 77rem;
    /* margin-bottom: 62rem; */
}