body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #ccccff 0%, #ffccff 99%);
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
